@import '~prism-themes/themes/prism-one-light.css';

#post {
  h1, h2, h3, h4, h5, h6, p, blockquote, del, strong {
    color: black;
    transition: color 200ms;
  }
  h2 {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
  h3 {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
  }
  iframe {
    margin-bottom: 1rem;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 0.5rem;

    a {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        transition: all 0.2s;
      }

      &:hover {
        svg {
          fill: #0d9488;
        }
      }
    }
  }
  a {
    color: #0d9488;
    transition: color 200ms;

    &:hover {
      color: #0f766e;
      text-decoration: underline;
    }
  }
  p {
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }
  blockquote {
    max-width: 100%;
    width: 100%;
    word-break: break-word;
    caret-color: rgba(255, 255, 255, 0.9);
    border-left: 3px solid currentcolor;
    margin: 0;
    padding-left: 0.9em;
    padding-right: 0.9em;
  }
  pre[class*=language-] {
    margin-bottom: 1rem;
  }
  hr {
    margin: 2rem 0;

    @media screen and (max-width: 767px) {
      margin: 1rem 0;
    }
  }
}
.dark #post {
  h1, h2, h3, h4, h5, h6, p, blockquote, del, strong {
    color: #f3f4f6;
  }
  a {
    color: #5eead4;

    &:hover {
      color: #0d9488;
      text-decoration: underline;
    }
  }
}